{
  "pid": "com.tibco.bw.stat.appnode.c833c6c5-5ee7-4135-9c06-605a6f42f1fb",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.c833c6c5-5ee7-4135-9c06-605a6f42f1fb",
      "type": "java.lang.String"
    }
  }
}